*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 3, 37);
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    width: 70vh;
    height: 50vh;
    margin: auto;
}
@media screen and (max-width: 500px){
    main{
        display: grid;
        grid-template-areas: 
        'a a b'
        'a a b'
        'c d d'
        'c e e'
        ;
        gap: 10px;
        width: 50vh;
        height: 50vh;
        margin: auto;
    }
}

main div{
    padding: 2em;
    text-align: center;
}

.item-a{
    background-color: orangered;
    grid-area: a;
}

.item-b{
    background-color: orange;
    grid-area: b;
    padding-left: 60px;
}

.item-c{
    background-color: green;
    grid-area: c;
    padding-right: 90px;
}

.item-d{
    background-color: rgb(10, 173, 238);
    grid-area: d;
}

.item-e{
    background-color: rgb(10, 173, 238);
    grid-area: e;
    padding-top: 60px;
}

.item-a, .item-b{
    height: 90px;
}
