*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: hsla(0, 0%, 100%, 0.75);
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    min-width: 415px;
}

main h3{
    padding-bottom: 30px;
    margin-top: 20px;margin-left: 5px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 32px;
}
@media screen and (max-width: 500px){
    main h3{
        padding-bottom: 30px;
        font-family: 'Big Shoulders Display', cursive;
        font-weight: 500;
        font-size: 22px;
    }
}

main p{
    padding-bottom: 30px;
    margin-left: 5px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
}
@media screen and (max-width: 500px){
    main p{
        padding-bottom: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 200;
        font-size: 7px;
        line-height: 12px;
    }
}

.item1, .item2, .item3{
    padding: 2em;
    color: hsl(0, 0%, 95%);
    height: 460px;
    width: 255px;
    min-width: 100px;
}
@media screen and (max-width:500px){
    .item1, .item2, .item3{
        padding: 1em;
        color: hsl(0, 0%, 95%);
        height: 300px;
        width: 255px;
        min-width: 100px;
    }
}

.item1{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-left: 2em;
}
.item3{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-right: 2em;
}
@media screen and (max-width:500px){
    .item1{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .item3{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

img{
    padding-top: 10px;
    margin-left: 7px;
    height: 45px;
}
@media screen and (max-width: 500px){
    img{
        padding-top: 20px;
        margin-left: 3px;
        height: 40px;
    }
}

button{
    border: 2px solid hsl(0, 0%, 95%);
    background: none;
    color: hsl(0, 0%, 95%);
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 60px;
}
@media screen and (max-width: 500px){
    button{
        border: 2px solid hsl(0, 0%, 95%);
        background: none;
        color: hsl(0, 0%, 95%);
        height: 15px;
        width: 50px;
        border-radius: 15px;
        margin-top: 30px;
        font-size: 6px;
    }
}

button a:link{
    color: hsl(0, 0%, 95%);
    text-decoration: none;
}
a:link, a:visited{
    color: hsl(0, 0%, 95%);
}

.item1{
    background-color: hsl(31, 77%, 52%);
}

.item2{
    background-color: hsl(184, 100%, 22%);
}

.item3{
    background-color: hsl(179, 100%, 13%);
}